* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
}

canvas {
  display: block;
  position: relative;
}

#root {
  background: url('../images/galaxy.jpg') repeat-x;
  position: absolute;
  width: 5100px;
  height: 100%;
  animation: galaxy 40s linear infinite;
}

@keyframes galaxy {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -5100px 0;
  }
}